<!DOCTYPE html>
<html>
    <head>
        <title>
            Cupcakes
        </title>
    </head>
    <body>
        <h1>Cupcakes</h1>
        <ul id="cakeList">

        </ul>
    </body>
    <form id="cakeForm">
        <input type="text" name="flavor" placeholder="Cupcake Flavor">
        <input type="text" name="size" placeholder="Cupcake Size">
        <input type="text" name="image" placeholder="Cupcake Image URL">
        <input type="number" name="rating" placeholder="Cupcake Rating">
        <input type="submit" value="Submit">
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="/static/script.js"></script>
</html>